.idea
/node_modules
/storage/*.key
/storage/debugbar/
/vendor

/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/vendor
/public/mix-manifest.json
/public/sitemap.xml

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
