$borderGray: #DDDDDD;
$borderRed: #dc3545;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.people {
    width: 50px;
    text-align: center;
    border-right: 1px solid $borderGray !important;
    height: 30px !important;

    &:focus {
        border-right: 1px solid #9A9A9A !important;
    }
}

.people.is-invalid {
    border-right: 1px solid $borderRed !important;
}

.adults, .children {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.decrement, .increment {
    margin-left: 10px;
    border: solid 1px !important;
}

