$borderGray: #DDDDDD;
$borderRed: #dc3545;

table {
    border-top: 1px solid #DDDDDD;

    td {
        border: none !important;
    }
}

.room-name {
    font-size: 17px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#free-room {
    width: 50px;
    text-align: center;
    border-right: 1px solid $borderGray;
    height: 30px !important;

    &:focus {
        border-right: 1px solid #9A9A9A !important;
    }
}

#free-room.is-invalid {
    border-right: 1px solid $borderRed;
}

.decrement, .increment {
    margin-left: 10px;
    border: solid 1px !important;
}

.form-control.is-invalid {
    padding: 10px 15px;
}

.save-data {

    button {
        position: absolute;
        top: 96%;
        left: 20px;
    }
}

.form-free-rooms .card{
    margin-bottom: 50px;
}
